* {
    font-family: 'roboto', arial, helvetica, sans-serif;
    color: #FFF;
}
body {
    box-sizing: border-box;
    margin: 0px;

    background: #188EA5;
    background: linear-gradient(270deg, #188EA5, #758DE1); 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);

    background-color: black;
    padding: 15px 10px;
    border: solid 2px #e2e2e2;
    border-radius: 32px;
    box-shadow: 15px 14px 7px 0px rgba(0,0,0,0.1);
}
.col-2 {
    grid-column: span 2;
}
button {
    cursor: pointer;
    margin: 5px;
    padding: 0px;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
}
.especial {
    background-color: rgb(120, 120, 120);
    color: black;
}
.especial:hover {
    background-color: rgb(170, 170, 170);
}
.operador {
    background-color: rgb(252, 141, 12);
}
.operador:hover {
    background-color: rgb(252, 191, 62);
}
.numero {
    background-color: rgb(38, 38, 38);
}
.numero:hover {
    background-color: rgb(88, 88, 88);
}
.display {
    grid-column: 1 / -1;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 10px 20px;

    border-radius: 15px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}
#valor_actual {
    font-size: 4em;
}
#valor_anterior {
    font-size: 2.5em;
}